node-red/flows.json
[
    {
        "id": "862f4876b87d50a6",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "43b596aada11f1fd",
        "type": "ui_gauge",
        "z": "862f4876b87d50a6",
        "name": "",
        "group": "619e83983fd39156",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 200,
        "wires": [],
        "inputLabels": [
            "26"
        ]
    },
    {
        "id": "01cd8839b6baecad",
        "type": "mqtt in",
        "z": "862f4876b87d50a6",
        "name": "",
        "topic": "WinMQTT",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fe82af2caa610c16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "43b596aada11f1fd",
                "b4784e90ea20547e",
                "aa52d41518d182a8"
            ]
        ]
    },
    {
        "id": "b4784e90ea20547e",
        "type": "ui_text",
        "z": "862f4876b87d50a6",
        "group": "619e83983fd39156",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "aa52d41518d182a8",
        "type": "debug",
        "z": "862f4876b87d50a6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "46e63916b107145b",
        "type": "mqtt in",
        "z": "862f4876b87d50a6",
        "name": "patioTemp",
        "topic": "patio/vivero/temperatura",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fe82af2caa610c16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 400,
        "wires": [
            [
                "f03dcd7419f69158"
            ]
        ]
    },
    {
        "id": "f03dcd7419f69158",
        "type": "ui_chart",
        "z": "862f4876b87d50a6",
        "name": "",
        "group": "619e83983fd39156",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c9739562f12bacdc",
        "type": "mqtt in",
        "z": "862f4876b87d50a6",
        "name": "patioHum",
        "topic": "patio/vivero/humedad",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fe82af2caa610c16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 500,
        "wires": [
            [
                "3d0a05210e832acf"
            ]
        ]
    },
    {
        "id": "3d0a05210e832acf",
        "type": "ui_text",
        "z": "862f4876b87d50a6",
        "group": "619e83983fd39156",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 500,
        "wires": []
    },
    {
        "id": "0383bc5aa01d63da",
        "type": "ui_led",
        "z": "862f4876b87d50a6",
        "order": 4,
        "group": "619e83983fd39156",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 750,
        "y": 580,
        "wires": []
    },
    {
        "id": "b1610df54688b162",
        "type": "mqtt in",
        "z": "862f4876b87d50a6",
        "name": "patioRiego",
        "topic": "patio/vivero/riego",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fe82af2caa610c16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 580,
        "wires": [
            [
                "0383bc5aa01d63da"
            ]
        ]
    },
    {
        "id": "9a64949ace16b87d",
        "type": "ui_switch",
        "z": "862f4876b87d50a6",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "619e83983fd39156",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "b30dc84d10224c89"
            ]
        ]
    },
    {
        "id": "b30dc84d10224c89",
        "type": "mqtt out",
        "z": "862f4876b87d50a6",
        "name": "",
        "topic": "patio/vivero/riego",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fe82af2caa610c16",
        "x": 390,
        "y": 580,
        "wires": []
    },
    {
        "id": "619e83983fd39156",
        "type": "ui_group",
        "name": "Grupo1",
        "tab": "63f5f25f58b1e2c1",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe82af2caa610c16",
        "type": "mqtt-broker",
        "name": "MosquittoWindows",
        "broker": "192.168.1.101",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "63f5f25f58b1e2c1",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]