node-red/flows.json
[
    {
        "id": "862f4876b87d50a6",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "46e63916b107145b",
        "type": "mqtt in",
        "z": "862f4876b87d50a6",
        "name": "patioTemp",
        "topic": "patio/vivero/temperatura",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fe82af2caa610c16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 400,
        "wires": [
            [
                "f03dcd7419f69158",
                "d4bc400e39acce81"
            ]
        ]
    },
    {
        "id": "f03dcd7419f69158",
        "type": "ui_chart",
        "z": "862f4876b87d50a6",
        "name": "",
        "group": "619e83983fd39156",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatura Vivero",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c9739562f12bacdc",
        "type": "mqtt in",
        "z": "862f4876b87d50a6",
        "name": "patioHum",
        "topic": "patio/vivero/humedad",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fe82af2caa610c16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 500,
        "wires": [
            [
                "fbeac0b410a643dd",
                "9542e9b77eb7e099"
            ]
        ]
    },
    {
        "id": "0383bc5aa01d63da",
        "type": "ui_led",
        "z": "862f4876b87d50a6",
        "order": 4,
        "group": "5e1c169ae5311a0a",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 750,
        "y": 640,
        "wires": []
    },
    {
        "id": "b1610df54688b162",
        "type": "mqtt in",
        "z": "862f4876b87d50a6",
        "name": "patioRiego",
        "topic": "patio/vivero/riego",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fe82af2caa610c16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 640,
        "wires": [
            [
                "0383bc5aa01d63da",
                "b278b29076b9b948"
            ]
        ]
    },
    {
        "id": "9a64949ace16b87d",
        "type": "ui_switch",
        "z": "862f4876b87d50a6",
        "name": "",
        "label": "Activar riego",
        "tooltip": "",
        "group": "5e1c169ae5311a0a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "b30dc84d10224c89"
            ]
        ]
    },
    {
        "id": "b30dc84d10224c89",
        "type": "mqtt out",
        "z": "862f4876b87d50a6",
        "name": "",
        "topic": "patio/vivero/riego",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fe82af2caa610c16",
        "x": 390,
        "y": 640,
        "wires": []
    },
    {
        "id": "fbeac0b410a643dd",
        "type": "ui_gauge",
        "z": "862f4876b87d50a6",
        "name": "",
        "group": "619e83983fd39156",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad Vivero",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 500,
        "wires": []
    },
    {
        "id": "ec359ee191af701a",
        "type": "ui_gauge",
        "z": "862f4876b87d50a6",
        "name": "",
        "group": "5e1c169ae5311a0a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nivel de agua",
        "label": "units",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#fc3131",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 740,
        "wires": []
    },
    {
        "id": "e82bd3e028f04fde",
        "type": "mqtt in",
        "z": "862f4876b87d50a6",
        "name": "patioNivel",
        "topic": "patio/vivero/nivel",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fe82af2caa610c16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 740,
        "wires": [
            [
                "ec359ee191af701a",
                "d5d9d3d5371bc6c7",
                "5ae2479b7faa51d7"
            ]
        ]
    },
    {
        "id": "b278b29076b9b948",
        "type": "debug",
        "z": "862f4876b87d50a6",
        "name": "debug Riego",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 580,
        "wires": []
    },
    {
        "id": "0e0fea0254c7ccd4",
        "type": "mqtt in",
        "z": "862f4876b87d50a6",
        "name": "peceraTemp",
        "topic": "patio/pecera/temperatura",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fe82af2caa610c16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 880,
        "wires": [
            [
                "ea39424d1d837319",
                "ec595520882c6046"
            ]
        ]
    },
    {
        "id": "ea39424d1d837319",
        "type": "ui_chart",
        "z": "862f4876b87d50a6",
        "name": "",
        "group": "082b2241c0103ce0",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatura Pecera",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "28c7bdda905819ed",
        "type": "mqtt out",
        "z": "862f4876b87d50a6",
        "name": "",
        "topic": "channels/3017431/publish",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "506b19fa0cd2ae80",
        "x": 1310,
        "y": 660,
        "wires": []
    },
    {
        "id": "7121300507af6ee2",
        "type": "function",
        "z": "862f4876b87d50a6",
        "name": "function 1",
        "func": "var field1 = msg.payload[0];\nvar field2 = msg.payload[1];\nvar field3 = msg.payload[2];\nvar field4 = msg.payload[3];\nmsg.topic =\"channels/3017431/publish\"\nmsg.payload = \"field1=\"+ field1 +\"&field2=\"+field2+\"&field3=\"+ field3 +\"&field4=\"+field4+\"&status=MQTTPUBLISH\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 660,
        "wires": [
            [
                "28c7bdda905819ed",
                "ea59c481222bf5f8"
            ]
        ]
    },
    {
        "id": "9542e9b77eb7e099",
        "type": "function",
        "z": "862f4876b87d50a6",
        "name": "function 2",
        "func": "//var field2 = msg.payload;\n//var field2 = msg.payload;\nmsg.topic = \"humedad\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 500,
        "wires": [
            [
                "2f9dfd61c92d2493"
            ]
        ]
    },
    {
        "id": "2f9dfd61c92d2493",
        "type": "join",
        "z": "862f4876b87d50a6",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 930,
        "y": 660,
        "wires": [
            [
                "7121300507af6ee2"
            ]
        ]
    },
    {
        "id": "d4bc400e39acce81",
        "type": "function",
        "z": "862f4876b87d50a6",
        "name": "function 3",
        "func": "//var field2 = msg.payload;\n//var field2 = msg.payload;\nmsg.topic = \"temperatura\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 400,
        "wires": [
            [
                "2f9dfd61c92d2493"
            ]
        ]
    },
    {
        "id": "e67573a88b84f28c",
        "type": "mqtt in",
        "z": "862f4876b87d50a6",
        "name": "peceraAlimento",
        "topic": "patio/pecera/alimento",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fe82af2caa610c16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 720,
        "y": 940,
        "wires": [
            [
                "d46f445a82ee63c0"
            ]
        ]
    },
    {
        "id": "afadb626e9ad9637",
        "type": "mqtt out",
        "z": "862f4876b87d50a6",
        "name": "peceraAlimento",
        "topic": "patio/pecera/alimento",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fe82af2caa610c16",
        "x": 540,
        "y": 940,
        "wires": []
    },
    {
        "id": "d46f445a82ee63c0",
        "type": "ui_led",
        "z": "862f4876b87d50a6",
        "order": 2,
        "group": "082b2241c0103ce0",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 930,
        "y": 940,
        "wires": []
    },
    {
        "id": "d5d9d3d5371bc6c7",
        "type": "function",
        "z": "862f4876b87d50a6",
        "name": "function 4",
        "func": "//var field2 = msg.payload;\n//var field2 = msg.payload;\nmsg.topic = \"nivel\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 740,
        "wires": [
            [
                "2f9dfd61c92d2493"
            ]
        ]
    },
    {
        "id": "ec595520882c6046",
        "type": "function",
        "z": "862f4876b87d50a6",
        "name": "function 5",
        "func": "//var field2 = msg.payload;\n//var field2 = msg.payload;\nmsg.topic = \"peceraTemp\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 880,
        "wires": [
            [
                "2f9dfd61c92d2493"
            ]
        ]
    },
    {
        "id": "ea59c481222bf5f8",
        "type": "debug",
        "z": "862f4876b87d50a6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 720,
        "wires": []
    },
    {
        "id": "5ae2479b7faa51d7",
        "type": "switch",
        "z": "862f4876b87d50a6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "10",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 800,
        "wires": [
            [
                "6f6946d8aa8e242f"
            ]
        ]
    },
    {
        "id": "3f52b84c3b547106",
        "type": "debug",
        "z": "862f4876b87d50a6",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 840,
        "wires": []
    },
    {
        "id": "6f6946d8aa8e242f",
        "type": "function",
        "z": "862f4876b87d50a6",
        "name": "function 6",
        "func": "var nivel = msg.payload\nmsg.payload = \" Nivel de agua muy bajo= \" + nivel + \"%\"\nmsg.topic = \"Patio/vivero\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 800,
        "wires": [
            [
                "3f52b84c3b547106",
                "1ad023180a6ebe7f"
            ]
        ]
    },
    {
        "id": "1ad023180a6ebe7f",
        "type": "ui_toast",
        "z": "862f4876b87d50a6",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1030,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "e3bf9fcf0341fc9b",
        "type": "ui_button",
        "z": "862f4876b87d50a6",
        "name": "",
        "group": "082b2241c0103ce0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Alimentar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 940,
        "wires": [
            [
                "afadb626e9ad9637",
                "2f534f5cdad606f7"
            ]
        ]
    },
    {
        "id": "68a68984fbb3525b",
        "type": "ui_button",
        "z": "862f4876b87d50a6",
        "name": "",
        "group": "082b2241c0103ce0",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Deajar de alimentar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 1000,
        "wires": [
            [
                "afadb626e9ad9637"
            ]
        ]
    },
    {
        "id": "2f534f5cdad606f7",
        "type": "delay",
        "z": "862f4876b87d50a6",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 230,
        "y": 1000,
        "wires": [
            [
                "68a68984fbb3525b"
            ]
        ]
    },
    {
        "id": "fe82af2caa610c16",
        "type": "mqtt-broker",
        "name": "MosquittoWindows",
        "broker": "192.168.1.101",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "619e83983fd39156",
        "type": "ui_group",
        "name": "Vivero",
        "tab": "63f5f25f58b1e2c1",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5e1c169ae5311a0a",
        "type": "ui_group",
        "name": "Riego",
        "tab": "63f5f25f58b1e2c1",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "082b2241c0103ce0",
        "type": "ui_group",
        "name": "Pecera",
        "tab": "63f5f25f58b1e2c1",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "506b19fa0cd2ae80",
        "type": "mqtt-broker",
        "name": "ThingSpeak",
        "broker": "mqtt3.thingspeak.com",
        "port": 1883,
        "clientid": "Dw0XAy4NMBg1Ci0nNhkjOQE",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "63f5f25f58b1e2c1",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]